html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #acf;
  font-family: "liberation sans",sans-serif;
  font-size: 12pt;
  text-align: left;
}
a {
  color: #36a;
  text-decoration: none;
}
a:hover {
  color: #38f;
}
ul {
  padding-left: 1.5em;
  list-style-type: square;
}
hr {
  border: 0;
  height: 1px;
  color: #8ae;
  background-color: #8ae;
}
body > header {
  margin: 0 5px;
  display: inline-block;
}
.title {
  color: #36a;
  font-family: "linux libertine",serif;
  font-size: 42px;
  text-shadow: 1px 1px #037;
  text-decoration: none;
}
.title > img {
	position: absolute;
	top: 5px;
	left: -10px;
	z-index: 1;
}
.title > span {
	position: absolute;
	top: 0;
	left: 65px;
}
body > nav {
  position: fixed;
  top: 2px;
  right: 0;
  font-size: 18px;
}
body > nav > ul {
  margin: 8px 5px 0 0;
  padding: 0;
  display: inline-block;
}
body > nav > ul > li {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
body > nav > ul > li:hover {
  background-color: #def;
}
body > nav > ul > li > a {
  font-family: "linux biolinum";
}
body > nav > ul > li > a > img {
  vertical-align: middle;
}
body > footer {
  font-size: 8pt;
  position: fixed;
  bottom: 5px;
  width: 100%;
  min-width: 320px;
  color: #234;
}
body > footer > div {
  width: 100%;
  text-align: center;
}
body > footer > div * {
  margin: 0;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
body > footer img {
  opacity: 0.8;
  margin-right: 5px;
}
.copyleft {
  display: inline-block;
  transform: scaleX(-1);
}
body > main {
  position: absolute;
  width: 100%;
  top: 55px;
  bottom: 42px;
  overflow: auto;
  text-align: center;
  border-top: 1px solid #8ae;
  border-bottom: 1px solid #8ae;
  padding-top: 20px;
  background: #def url('img/shadow-down.png') repeat-x;
}
article {
  text-align: left;
  display: inline-block;
  min-width: 320px;
  max-width: 75%;
  margin: 0 auto 20px auto;
  padding: 1em;
  color: #222;
  background-color: #fff;
  border: 1px solid #68c;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.3);
}
article > header > h2 {
  margin: 0;
  font-family: "linux biolinum",serif;
  font-size: 1.8em;
}
article > header > h2 > a {
  color: #234;
}
article > header > span {
  color: #789;
  font-size: 0.75em;
}
article > .entry {
  padding-left: 2.5em;
  font-family: "linux libertine", serif;
}
article > footer {
  margin: 0;
  color: #789;
  font-size: 0.75em;
  text-align: right;
}
article > .ps {
  color: #789;
  font-size: 0.75em;
}
article img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
  border: 1px solid #aaa;
}
.archives {
  margin: 0 10px 10px 0;
}
.archives h3 {
  color: #36a;
  margin-bottom: 5px;
}
.archive {
  width: 100%;
  border-spacing: 0;
  margin-left: 10px;
  border-left: 1px solid #acf;
  border-bottom: 1px solid #acf;
}
.archive td {
  border: 0;
  margin: 0;
  font-size: small;
  padding: 0 5px 0 5px;
}
.archive .post-title {
  font-family: "linux biolinum",serif;
  font-size: 1.2em;
  font-weight: bold;
}
.archive .post-title a {
  color: #234;
}
@media (max-width: 480px) {
	.hide-xs {
		display: none;
	}
}
@media (min-width: 480px) and (max-width: 640px) {
	.hide-sm {
		display: none;
	}
}
@media (min-width: 640px) {
	.hide-lg {
		display: none;
	}
}
